[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = CN
ST = GD
L = SHENZHEN
O = XXXXXX
OU = ITDEPT
CN = logstash
[v3_req]
keyUsage = critical, keyEncipherment, dataEncipherment, digitalSignature
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = logstash
DNS.2 = tasks.logstash
DNS.3 = elkd.xxxxxx.com
